.App {
  font-family: sans-serif;
  display: grid;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-gap: 10px;
}

.spinner {
  margin: 20px auto;
  display: block;
}

.Header {
  grid-area: header;
  background-color: #eee;
  padding: 10px;
}

.Main {
  grid-area: main;
  background-color: #eee;
  padding: 10px;
}

.Footer {
  grid-area: footer;
  background-color: #eee;
  padding: 10px;
}

.Sidebar {
  grid-area: sidebar;
  background-color: #eee;
  padding: 10px;
}
